.list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: none;
  }

  .employeeul {
    list-style: none;
    padding: 0
  }

  .App {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .paginationButtons {
    width: 80%;
    height: 40px;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .paginationButtons a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #2b2eff;
    color: #2b2eff;
    cursor: pointer;
  }
  
  .paginationButtons a:hover {
    color: white;
    background-color: #2b2eff;
  }
  
  .paginationActive a {
    color: white;
    background-color: #2b2eff;
  }
  
  .paginationDisabled a {
    color: grey;
    background-color: grey;
  }

  @media screen and (max-width: 899px) {
    .list {
      display: grid;
      grid-template-columns: none;
      justify-content: center;
    }
  }